/* fullcalendarのデフォルトのスタイル */
@import "tailwindcss";


/* CSSを初期化 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5要素の初期化 */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* bodyとhtmlの基本設定 */
html, body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/* mainの共通スタイル */
main {
  background-color: #ffffff;
  color: #544739;
}

/* リストの初期化 */
ol, ul {
  list-style: none;
}

/* テーブルの初期化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* リンクの初期化 */
a {
  color: inherit;
  text-decoration: none;
}

/* 画像の最大幅 */
img {
  max-width: 100%;
  height: auto;
}

/* CSS変数の定義 */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Geist', Arial, Helvetica, sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



/* --------------------------------------------------------------------------------------------------- */



.container {
  min-height: 100vh;
}

/* h1の共通スタイル */
.title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 1rem;
}

/* h2の共通スタイル */
.heading2 {
  border-bottom: 1px dashed #544739;
  margin: 1em 1em 0 1em;
  padding-bottom: 0.3em;
}



/* full-calendar */

/* 前月に移動 */
.fc-prev-button {
  background-color: #544739 !important;
}
.fc-prev-button:hover {
  background-color: #3f332a !important;
}

/* 翌月に移動 */
.fc-next-button {
  background-color: #544739 !important;
}

.fc-next-button:hover {
  background-color: #3f332a !important;
}

/* 今日のセル */
.fc-day-today {
  background-color: rgba(164, 195, 166, 0.5) !important;
}

.fc-event {
  background-color: transparent !important;
  border-color: transparent !important;
  color: inherit !important;
  /* font-size: 1.2rem; */
  pointer-events: none;
} 