.modalOverlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pageWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* カレンダー＋サイドパネルの横並びレイアウト */
.mainContent {
  display: flex;
  gap: auto;
}

/* カレンダーセクション */
.calendarSection {
  flex: 7;
  max-width: 70%;
}

/* サイドパネル */
.detailPanel {
  flex: 3;
  height: auto;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* ボタンスタイル */
.button {
  background-color: #a4c3a6;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a4afa6;
}
