.header {
  width: 17%;
  background-color: #fff;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  font-size: 2rem;
  /* font-weight: bold; */
  color: #544739;
  border-bottom: 1px dashed #544739;
}